<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'users/info', user: @user %>
      <h2 class="mt-3">New book</h2>
      <%= render 'form', book: @new_book %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>Book detail</h2>
      <table class="table">
        <div class="col-xs-9">
          <tr>
            <td>
            <%= link_to user_path(@user.id) do %>
              <% if @user.profile_image.attached? %>
                <%= image_tag @user.profile_image, size: "100x100" %>
                 <p><%= @user.name %></p>
              <% else %>
                <%= image_tag 'no_image', size: "100x100" %>
              <% end %>
            <% end %>
            </td>
            <td>
              <%= link_to @book.title, book_path(@book) %>
            </td>
            <td><%= @book.body %></td>
            <% if @book.user_id == current_user.id %>
              <td>
                <%= link_to "Edit", edit_book_path(@book), class:"btn btn-success"%>
              </td>
              <td>
              <%= link_to "Destroy", book_path(@book), method: :delete,data: {confirm: "本当に削除しますか？"}, class:"btn btn-danger" %>
              </td>
              <td>
                <%= render "favorites/favorite", book: @book %></td>
              </td>
            <% end %>
        </tr>
      </table>
    </div>
  </div>
</div>